.header__link {
	@include font (400, 1.6rem, 150%);
	display: block;
}


@media (min-width: 48em) {
	.header__link:hover {
		animation: 1.2s ease-in-out 0s normal none infinite running trambling;
	}
}

@keyframes trambling {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-10deg);
    }
    20%, 40% {
        transform: rotate(10deg);
    }
}

@media (max-width: 48em) {
    .header__link {
        font-size: 2.8rem;
    }
}