.footer__item:not(:last-child) {
	margin-right: 4rem;
}

.footer__item:nth-child(2) {
	margin-right: 0;
}

@media (max-width: 48em) {
	.footer__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 1.5rem;
	}
}